@import 'https://fonts.googleapis.com/css?family=Inconsolata';

@font-face {
  font-family: 'Lettera';
  src: url('lettera-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
    font-family: 'LastParadise';
    src: url("last-paradise.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'LastParadise', sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: #101010;
  overflow: hidden;
}

#five-ws {
  z-index: 0;
  height: 100%;
  width: 100%;
  font-size: 6rem;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#five-ws-container {
  height: 80%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#five-ws .section {
}

#five-ws .section:hover {
  cursor: pointer;
}

#who:hover {
  color: #d93992;
}

#what:hover {
  color: #30abf1;
}

#when:hover {
  color: #eb7748;
}

#where:hover {
  color: #ae3caa;
}

#why:hover {
  color: #ee213d;
}

#who-content, #what-content, #when-content, #where-content, #why-content {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0; right: -70%;
  background-color: #ffffff;
  overflow-y: scroll;
}

#who-content.slide-in, #what-content.slide-in, #when-content.slide-in, #where-content.slide-in, #why-content.slide-in {
  animation-name: slide-in;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

#who-content.slide-out, #what-content.slide-out, #when-content.slide-out, #where-content.slide-out, #why-content.slide-out {
  animation-name: slide-out;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
}

@keyframes slide-in {
  from {
    right: -70%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -70%;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

.half {
  position: absolute;
  height: 50%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

@keyframes up {
  from {
    top: 0;
  }
  to {
    top: -55%;
  }
}

@keyframes up-return {
  from {
    top: -55%;
  }
  to {
    top: 0;
  }
}

@keyframes down {
  from {
    top: 50%;
  }
  to {
    top: 102%;
  }
}

@keyframes down-return {
  from {
    top: 102%;
  }
  to {
    top: 50%;
  }
}

.up {
  animation-name: up;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.up-return {
  animation-name: up-return;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.down {
  animation-name: down;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.down-return {
  animation-name: down-return;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.snap-white {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0s;
}

.snap-black {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0s;
}

.column {
  flex-direction: column;
}

.bottom {
  justify-content: flex-end;
  align-items: center;
  top: 0;
  z-index: 2;
  padding-bottom: 1rem;
}

.top {
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  z-index: 1;
}

.black {
  background-color: #000000;
  color: #ffffff;
}

.heading {
  z-index: 5;
  font-size: 8rem;
}

#logo img {
  margin: -20rem -20rem -5rem 11rem;
  /*top: 39%;
  left: 49%;*/
  max-width: 22rem;
  z-index: 100;
}

.heading .light {
  font-weight: 300;
  color: #000000;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'Lettera';
  margin-top: 0.5rem;
}

#info div {
  margin-right: 4rem;
  margin-left: 2.5rem;
}

#menu {
  margin-top: 4rem;
}

#menu:hover {
  cursor: pointer;
}

.menu-bar {
  width: 2.5rem;
  border-bottom: 0.1rem solid #000000;
  margin-bottom: 0.9rem;
}

#close {
  font-size:2.2rem;
  margin-top: -90px;
  padding-left: 10px;
  margin-bottom: 30px;
}

#close:hover {
  cursor: pointer;
}

.color0 {
  color: #d93992;
}
.color1 {
  color: #30abf1;
}
.color2 {
  color: #eb7748;
}
.color3 {
  color: #ae3caa;
}
.color4 {
  color: #ee213d;
}

#what-content {
  background-image: url('img/logo_blue.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#what-content p {
  font-family: 'Lettera';
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 200%;
  font-weight: 900;
}

#when-content {
  background-image: url('img/logo_orange.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#when-content p {
  font-family: 'Lettera';
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 200%;
  font-weight: 900;
  text-align: center;
  margin-top: 25%;
}

#where-content {
  background-image: url('img/logo_purple.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#where-content p {
  font-family: 'Lettera';
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 200%;
  font-weight: 900;
  text-align: center;
}

#why-content {
  background-image: url('img/logo_red.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#why-content p {
  font-family: 'Lettera';
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 200%;
  font-weight: 400;
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 5.0em;
}

.btn {
  margin-top:20px;
  margin-bottom:-10px;
  color: #000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #d93992 2px;
  text-decoration: none;
  background-color: #fff;
  font-family: 'Lettera';
}

.btn:hover {
  background: #d93992;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

/*
* Media Queries
*/

@media screen and (max-width: 450px) {
  .heading {
    font-size: 5.4rem;
  }

  #info {
    flex-direction: column;
  }

  #info div {
    margin: 0;
  }

  #logo img {
    margin: -20rem -15rem -3rem -2rem;
    max-width: 15rem;
    z-index: 100;
  }

  #who-content, #what-content, #when-content, #where-content, #why-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; right: -100%;
    background-color: #ffffff;
  }

  #who-content.slide-in, #what-content.slide-in, #when-content.slide-in, #where-content.slide-in, #why-content.slide-in {
    animation-name: slide-in;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  #who-content.slide-out, #what-content.slide-out, #when-content.slide-out, #where-content.slide-out, #why-content.slide-out {
    animation-name: slide-out;
    animation-duration: 0.75s;
    animation-fill-mode: backwards;
  }

  @keyframes slide-out {
    from {
      right: 0;
    }
    to {
      right: -70%;
    }
  }

}
